.container {
  display: flex;
  justify-content: center;
  padding: 5em 1em;
  gap: 1em;
  align-items: stretch;
  height: 100%;
}
.brief_intro {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}

html[data-theme="dark"] .seperator {
  width: 2px;
  background-color: #fff;
}
html[data-theme="light"] .seperator {
  width: 2px;
  background-color: #000;
}
.button {
  display: block;
  margin: 1em;
  padding: 0.5em 2em;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  max-width: 280px;
}

.rightcol,
.leftcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html[data-theme="dark"] .button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

html[data-theme="dark"] .button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #fff;
  color: #000;
}

html[data-theme="light"] .button {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

html[data-theme="light"] .button:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

@media (max-width: 680px) {
  .container {
    flex-direction: column;
  }
}
